@import "tailwindcss";



@layer base {
    :root {
        --bg: hsl(0, 0%, 95%);
        --bg-light: hsl(0, 0%, 100%);
        --bg-dark: hsl(0, 0%, 90%);

        --text: hsl(0, 0%, 5%); 
        --text-muted: hsl(0, 0%, 30%); 

        --primary: hsl(249, 95%, 63%); /* Indigo 600 */
        --primary-foreground: hsl(0, 0%, 100%);
    }
    .dark {
        --bg: hsl(0, 0%, 5%);
        --bg-light: hsl(0, 0%, 10%);
        --bg-dark: hsl(0, 0%, 0%);

        --text: hsl(0, 0%, 95%); 
        --text-muted: hsl(0, 0%, 70%); 

        --primary: hsl(249, 95%, 63%);
        --primary-foreground: hsl(0, 0%, 100%);
    }
}

@layer utilities {
    .expand-underline {
        @apply h-1 w-0 rounded-full bg-text  group-hover:w-full transition-all duration-300 ease-out;
    }
}

@theme {
    --color-bg: var(--bg);
    --color-bg-light: var(--bg-light);
    --color-bg-dark: var(--bg-dark);

    --color-text: var(--text);
    --color-text: var(--text);
    --color-text-muted: var(--text-muted);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
}


body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-inter);
}