@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 96%);
    --bg-lightest: hsl(244, 95%, 51%);
    --bg-dark: hsl(0, 0%, 90%);

    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);
    --highlightest:  hsl(0, 0%, 100%);

    
    --shadow-color: rgba(0, 0, 0, 0.05);
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --gradient-hover-soft: linear-gradient(
      0deg,
      hsl(var(--bg) / 0.5),
      hsl(var(--bg-light) / 0.5)
    );
  }
  .dark {
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --bg-lightest: hsl(0, 0%, 41%);
    --bg-dark: hsl(0, 0%, 0%);

    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);

    --highlightest: hsl(0, 0%, 44%);

    
    --shadow-color: rgba(0, 0, 0, 0.4);
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --gradient-hover-soft: linear-gradient(
      0deg,
      hsl(var(--bg) / 1),
      hsl(var(--bg-light) / 1)
    );
  }

  /* TYPOGRAPHY STYLES */
  h1,
  .h1 {
    @apply text-8xl font-bold leading-tight;
  }

  h2,
  .h2 {
    @apply text-4xl font-semibold leading-tight lg:text-4xl;
  }

  p,
  .p {
    @apply text-base font-normal leading-relaxed text-text-muted lg:text-lg;
  }
}

@layer utilities {
  .expand-underline {
    @apply h-0.5 w-0 rounded-full bg-text  group-hover:w-full transition-all duration-300 ease-out;
  }
}

@layer components {
  .btn-caleb {
    @apply inline-flex items-center justify-center
           border border-primary
           bg-text text-bg
           rounded-xl
           px-5 py-3
           transition-all duration-300 ease-out


           active:scale-95

           hover:opacity-95 hover:scale-103;
  }

  .btn-caleb2 {
    @apply inline-flex items-center justify-center
           border border-primary
           bg-transparent text-text
           rounded-xl
           px-5 py-3
           transition-all duration-300 ease-out


           active:scale-95

           hover:opacity-95 hover:scale-103;
  }

  
  /* Hover styles only when hover is real (desktop/trackpad/mouse) */
  @media (hover: hover) and (pointer: fine) {
    .btn-caleb-slide-reverse:hover {
      @apply text-text;
    }

    .btn-caleb-slide-reverse:hover::before {
      @apply w-full;
    }
  }
  .caleb-card {
    @apply border border-border rounded-2xl bg-gradient p-6;
    transition-property: transform, border-color, background-image;
    transition-duration: 300ms;
    transition-timing-function: ease-out;

    /* Keep shadow, but do NOT animate it on theme toggle */
    box-shadow: 0 4px 6px -1px var(--shadow-color),
      0 2px 4px -2px var(--shadow-color);
    will-change: transform;
  }

  .caleb-card:hover {
    @apply bg-gradient-hover border-t-highlightest;
    transform: translateY(-2px);

    box-shadow: 0 10px 15px -3px var(--shadow-color),
      0 4px 6px -4px var(--shadow-color);
  }

  .navbar-header {
    @apply fixed top-0 left-0 w-full z-50 transition-all duration-300 px-6 py-4 md:py-6;
  }

  .navbar-header-scrolled {
    @apply py-2;
  }

  .navbar-inner {
    @apply flex items-center justify-between px-6 py-3 transition-all duration-300 max-w-5xl mx-auto w-full rounded-full border border-text bg-bg-light shadow;
  }

  .navbar-inner-scrolled {
    @apply bg-bg-light/80  backdrop-blur-md shadow-sm     border border-border   border-t-highlightest     
      ;
  }

  .navbar-inner2 {
    @apply flex items-center justify-between px-6 py-3 transition-all duration-300 max-w-5xl mx-auto w-full rounded-full 
  
  }

  /* .navbar-inner2-scrolled {
    @apply bg-red-500 backdrop-blur-md shadow-sm;
  } */
}

@theme {
  /* My custom colors the main stuff*/
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);
  --color-bg-lightest: var(--bg-lightest);
  --color-bg-dark: var(--bg-dark);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --color-highlightest: var(--highlightest);
  --color-gradient-hover-soft: var(--gradient-hover-soft);
  --color-gradient: var(--gradient);

  /* Shadcn colors i dont think this is necessary just formality for variants */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  

  --background-image-gradient: var(--gradient);
  --background-image-gradient-hover: var(--gradient-hover);

  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}

html,
body {
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background: var(--color-bg);
  color: var(--color-text);
}

/* tailwind stuff man  */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}
